<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
<link rel="icon" href="{{ "images/fish.jpeg" | relURL }}" type="image/jpeg">
<link rel="shortcut icon" href="{{ "images/fish.jpeg" | relURL }}">
<link rel="apple-touch-icon" href="{{ "images/fish.jpeg" | relURL }}">
{{ if .Params.math }}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ end }}

<meta name="view-transition" content="same-origin" />


<script type="module" src="https://cdn.skypack.dev/@hotwired/turbo"></script>
